---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect, url } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const isLoggedIn = !!(accessToken && refreshToken);

if (!isLoggedIn) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const email = data?.user?.email;

const filesProcessing = url.searchParams.get("filesProcessing");
---

<Layout title="Dashboard" isLoggedIn={isLoggedIn}>
  <h1>Welcome {email}</h1>
  {
    filesProcessing && (
      <p>
        Your files are being processed in the background. This should only take
        up to a few minutes. Once uploaded, your file data will appear on this
        page!
      </p>
    )
  }
  <p>Upload some <em>.slp</em> files <a href="/upload">here</a>!</p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>
</Layout>
