---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const isLoggedIn = !!(accessToken && refreshToken);
---

<Layout title="Home" isLoggedIn={isLoggedIn}>
  <h1>Welcome to the <em>Slippi Games Database</em>!</h1>
  <p>
    Here, you can upload your <em>.slp</em> files and share your stats with the
    melee community!
  </p>
  <p>This is an effort to create a hub for melee stats of all kinds, like:</p>
  <ul>
    <li>Character stats (Inputs/minute, average combo damage, etc..)</li>
    <li>Player stats (openings per kill, etc..)</li>
    <li>Stage stats</li>
    <li>Character Matchup stats</li>
    <li>And more!</li>
  </ul>
  <h2><a href="/signin">Sign in</a> to upload <em>.slp</em> files now!</h2>
</Layout>
