---
import Layout from "../layouts/Layout.astro";

const cookies = Astro.cookies;
const redirect = Astro.redirect;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Sign in">
  <h1>Sign in</h1>
  <p>New here? <a href="/register">Create an account</a></p>
  <form action="/api/auth/signin" method="post">
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
    <p>or</p>
    <button value="discord" name="provider" type="submit">
      Sign in with Discord
    </button>
  </form>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
  }
</style>
