---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const isLoggedIn = !!(accessToken && refreshToken);

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}
---

<Layout title="Upload" isLoggedIn={isLoggedIn}>
  <h1>Upload</h1>
  <p>Choose files to upload below:</p>
  <form
    method="POST"
    action={import.meta.env.SLP_UPLOAD_API_ENDPOINT}
    enctype="multipart/form-data"
  >
    <input type="file" name="slpFiles" accept=".slp" multiple />
    <button type="submit">Upload</button>
  </form>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
</style>
