---
interface Props {
  title: string;
  isLoggedIn?: boolean;
}

const { title, isLoggedIn } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>Slippi Games Database</h1>
      <nav>
        <a href="/">Home</a>
        {
          isLoggedIn ? (
            <a href="/dashboard">My Account</a>
          ) : (
            <a href="/signin">Login</a>
          )
        }
        <a href="/upload">Upload</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: #eee;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
</style>
